.App {
  height: 100vh;
  background: var(--color-very-dark-blue);
  background-image: url("assets/images/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-pale-blue);
}

@media (min-width: 600px) {
  .App {
    background-image: url("assets/images/bg-desktop.png");
    background-position: bottom;
    background-size: contain;
    position: relative;
  }
}
